<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"  version="3.1">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <display-name>Projeto2</display-name>
    <welcome-file-list>upload.html</welcome-file-list>
    <welcome-file-list>JSPpaginaUpload.jsp</welcome-file-list>
    <context-param>
        <decription>Pasta Imagens</decription>
        <param-name>CaminhoArq</param-name>
        <param-value>Imagens</param-value>
    </context-param>
</web-app>
